<app-main-nav-tab></app-main-nav-tab>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <app-leftpanel></app-leftpanel>
        </div>
        <main class="col ps-md-2 pt-2">
          <div id="no-more-tables">
          <table class="table">
            <thead>
              <tr>
                <!-- table head -->
                <th scope="col">Invoices</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th> 
                <th scope="col">Customer</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invoiceItem of listOfInvoice; let itemIndex = index;">
                <td  data-title="Invoices">
                  <input value="{{itemIndex + 1}}" [disabled]="isFormDisabled" class="form-control">
                </td>
                <td  data-title="Date">
                  <input value="{{itemIndex + 1}}" [disabled]="isFormDisabled" class="form-control">
                </td>
                <td  data-title="Amount">
                  <input value="{{itemIndex + 1}}" [disabled]="isFormDisabled" class="form-control">
                </td>
                <td data-title="Customer">
                  <input value="{{itemIndex + 1}}" [disabled]="isFormDisabled" class="form-control">
                </td>
                <td data-title="Action">
               <!-- edit and delete button -->

               <div class="d-flex justyfy-content-space-around align-item-center mt-1">
                                         
                <i class="bi bi-pencil text-success px-4"  (click)="toDisableinput(itemIndex)"></i>
                
                <i class="bi bi-trash text-danger hyper-link"></i>
                  
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </main> 
    </div>
</div>
