

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .hidelbl,#title {
    display: none;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: grid;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
   i:before{
    padding-inline: 15px;
   }
  /*
Label the data
*/
 
  td:nth-of-type(1):before {
    content: "Costumer Id";
  }
  td:nth-of-type(2):before {
    content: "Coustumer Name";
  }
  td:nth-of-type(3):before {
    content: "Phno";
  }
  
  td:nth-of-type(4):before {
    content: "Action";
  }
}
