<app-main-nav-tab></app-main-nav-tab>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto px-0">
      <app-leftpanel></app-leftpanel>
    </div>
    <main class="col ps-md-2 pt-2">

      <div class="container-fluid h-lg-100">
        <div class="row justify-content-center h-lg-100">
          <div class="col-lg-12">
            <div class="row" style="height:50px;">
              <div class="row col-sm-12 col-lg-12">

                <div class="row col-lg-10">

                  <div class="row col-lg-7">
                  </div>

                  <div class="row col-lg-2 col-sm-1">
                    <button class="btn w-100 rounded-2">
                      Import From Excel
                    </button>
                  </div>

                  <div class="row col-lg-2 col-sm-1">
                    <button class="btn w-100 rounded-2">
                      Export
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="h-lg-100 d-flex flex-column">
              <div class="row justify-content-center bg-purple">
                <div #invoiceContent style="height:60vh;overflow:auto;">
                  <label for="exampleInputEmail1" class="form-label" style="margin-top: 30px;">Product Items</label>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 5%;">#</th>
                        <th scope="col" style="width: 10%;">Date</th>
                        <th scope="col" style="width: 15%;">ProductID</th>
                        <th scope="col">Name</th>
                        <th scope="col" style="width: 5%;">Quantity</th>
                        <th scope="col" style="width: 10%;">Price</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let productItem of listOfProductsItem; let itemIndex = index;">
                        <th scope="row">
                          <input value="{{itemIndex + 1}}" (focus)="onItemFocus(itemIndex)" [disabled]="true"
                            class="form-control ng-pristine ng-valid ng-touched">
                        </th>
                        <td>
                          <input [(ngModel)]="date" (focus)="onItemFocus(itemIndex)" class="form-control ng-pristine ng-valid ng-touched">
                        </td>
                        <td>
                          <input [(ngModel)]="productItem.id" (focus)="onItemFocus(itemIndex)" list="productIds"
                            class="form-control ng-pristine ng-valid ng-touched">
                        </td>
                        <td>
                          <input [(ngModel)]="productItem.name" (focus)="onItemFocus(itemIndex)" list="products"
                            class="form-control ng-pristine ng-valid ng-touched">
                          <datalist id="products">
                            <option *ngFor="let opt of listOfProductsItem" [value]="opt">
                          </datalist>
                        </td>
                        <td>
                          <input type="number" min="0" [(ngModel)]="productItem.quantity"
                            (ngModelChange)="onItemSpecChange(itemIndex)" (focus)="onItemFocus(itemIndex)"
                            [OnlyNumber]=true class="form-control ng-pristine ng-valid ng-touched">
                        </td>
                        <td>
                          <input type="number" min="0" [(ngModel)]="productItem.price"
                            (ngModelChange)="onItemSpecChange(itemIndex)" (focus)="onItemFocus(itemIndex)"
                            [OnlyNumber]=true class="form-control ng-pristine ng-valid ng-touched">
                        </td>
                        <td>
                          <div class="d-flex justyfy-content-around align-item-center mt-1">

                            <i class="bi bi-pencil text-success px-4"></i>

                            <i class="bi bi-trash text-danger hyper-link" (click)="onItemDelete(itemIndex)"></i>

                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-lg-8">
                  </div>
                  <div class="col-lg-4">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div style="height:100%;">

              <div class="row" style="height:50px;">

                <div class="row col-lg-12">

                  <div class="row col-lg-10">
                  </div>

                  <div class="row col-2">
                    <button class="btn w-100 rounded-2" (click)="onSaveProductList()">
                      Save
                    </button>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>