<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
        min-vh-100 g-0">
      <div class="col-12 col-md-8 col-lg-4  border-3 border-primary">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-4">
              <h5>Forgot Password?</h5>
             
            </div>
            <form>
              <div class="mb-3">
                <label for="email" class="form-label">Username</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="Enter Your Username"
                  required="">
              </div>
              <br>
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-primary">
                  submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>