
<div class="con">  
    <div class="row">
        <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Billing</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Get Bill</a>
        </div>
      </div> </div>
      <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Stock</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Go Stock</a>
        </div>
      </div></div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Quatation</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Get quote</a>
          </div>
        </div></div>
</div>

