<div id="sidebar" class="collapse collapse-horizontal border-end">
    <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100" style="width:250px;">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu" style="margin-left:25px;">
          <li class="nav-item">
              <a href="home" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
              </a>
          </li>
          <li>
              <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-speedometer2"></i>
                  <span class="ms-1 d-none d-sm-inline">Billing</span>
              </a>
              <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                  <li class="w-100">
                      <a href="manage-billing" class="nav-link px-0"> <span class="d-none d-sm-inline">New Bill</span> </a>
                  </li>
                  <li>
                      <a href="billing-history" class="nav-link px-0"> <span class="d-none d-sm-inline">History</span>  </a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Booking</span> </a>
              <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                  <li class="w-100">
                      <a href="booking-dashboard" class="nav-link px-0"> <span class="d-none d-sm-inline">New Book</span> </a>
                  </li>
                  <li>
                      <a href="booking-history" class="nav-link px-0"> <span class="d-none d-sm-inline">History</span>  </a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Inventory</span> </a>
              <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                  <li class="w-100">
                      <a href="manage-inventory" class="nav-link px-0"> <span class="d-none d-sm-inline">Manage Inventory</span>  </a>
                  </li>

              </ul>
          </li>
        </ul>

      </div>
</div>
